<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DbConnect" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=leasingAgency_BD;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="leasingAgency_BDContext" connectionString="metadata=res://*/Models.DBleasingAgency.csdl|res://*/Models.DBleasingAgency.ssdl|res://*/Models.DBleasingAgency.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=leasingAgency_BD;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="leasingAgency_BDEntities" connectionString="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=leasingAgency_BD;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="leasingAgency_BDEntities1" connectionString="metadata=res://*/Models.DBleasingAgency.csdl|res://*/Models.DBleasingAgency.ssdl|res://*/Models.DBleasingAgency.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=leasingAgency_BD;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="leasingAgency_BDEntities2" connectionString="metadata=res://*/Models.leasingAgency_BDContext.csdl|res://*/Models.leasingAgency_BDContext.ssdl|res://*/Models.leasingAgency_BDContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=leasingAgency_BD;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="leasingAgency_BDEntitie" connectionString="metadata=res://*/Models.leasingAgency_BDContext.csdl|res://*/Models.leasingAgency_BDContext.ssdl|res://*/Models.leasingAgency_BDContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=leasingAgency_BD;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="leasingAgency_BDEntities3" connectionString="metadata=res://*/Models.leasingAgency_BDContext.csdl|res://*/Models.leasingAgency_BDContext.ssdl|res://*/Models.leasingAgency_BDContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=leasingAgency_BD;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="leasingAgency_BD" connectionString="metadata=res://*/Models.LeasingAgencyBD.csdl|res://*/Models.LeasingAgencyBD.ssdl|res://*/Models.LeasingAgencyBD.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=leasingAgency_BD;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="leasingAgencyBD" connectionString="metadata=res://*/Models.LeasingAgencyBD.csdl|res://*/Models.LeasingAgencyBD.ssdl|res://*/Models.LeasingAgencyBD.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=leasingAgency_BD;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>